
.homePage{
  background: #fff;
  margin: 30px 20px 0;
  box-shadow: 0 6px 10px #ddd;
  border-radius: 10px;
  .common {
     height: 80px;
     width: 100%;
     align-items: center;
     justify-content: center;
     display: flex;
     .commonLeft {
       width: 80%;
       display: flex;
       align-items: center;
       height: 140px;
       .commonLeftHade {
         margin-left: 20px;
         color: #ababab;
       }
     }
  }
  .underline {
    width: 90%;
    margin: 0 auto;
    border: 1px #eee solid;
  }
}