@import '../../../../scss/index.scss';
.SwiperWarp{
  .SwiperImg{
    width: 100vw;
    height: 680px;
  }
}

// 城市站点
.CitySiteWrap{
  background-color: $white;
  .CitySiteTitleWrap{
    @include flex(space-between, center);
    height: 84px;
    border-bottom: 1px solid #eee;
    margin: 20px 32px 0;
    font-size: $font-sm;
    .CitySiteMore{
      @include flex(space-between, center);
      font-size: $font-xs;
      color: #999;
    }
  }
}

.CitySiteCard{
  @include flex(flex-start, center);
  font-size: $font-xs;
  border-bottom: 1px solid #eee;
  padding: 12px 32px;
  .CardImg{
    width: 160px;
    height: 160px;
    border-radius: 8px;
  }
  .RightBox{
    flex: 1;
    margin-left: 20px;
    color: #666;
  }
  .CardTitle{
    font-size: $font-sm;
    color: #333;
  }
  .CardInfo{
    margin-top: 20px;
  }
  .CardOperation{
    margin-top: 20px;
    @include flex(space-between, center);
  }
  .CardOperationBtn{
    background-color: $primary;
    color: $white;
    border-radius: 8px;
    padding: 8px 20px;
  }
}

// 公益头条
.FirstNewListWrap{
  
}
.FirstNewsWrap{
  font-size: $font-xs;
  color: $black65;
  padding: 20px 0;
  box-sizing: border-box;
  @include flex(space-between, center);
  border-bottom: 2px solid #eee;
  &:last-child{
    border: 0;
  }
  .CardOperation{
    margin-top: 20px;
    color: $black45;
    @include flex(flex-start, center);
  }
  .RightBox{
    flex: 1;
    margin-right: 20px;
  }
  .CardInfo{
    @include textHide(3);
  }
  .CardLikeCount{
    margin-right: 20px;
  }
  .CardImg{
    min-width: 160px;
    width: 160px;
    height: 160px;
    border-radius: 8px;
  }
}
.ActivitiesWrap{
  @include flex(space-between, top)
}
.ActivitieCard{
  width: calc(calc(100vw - 88px)/ 2);
  margin-top: 32px;
  .CardImg{
    width: 100%;
    height: 240px;
    border: 2px solid #eee;
    box-sizing: border-box;
  }
  .CardTitle{
    margin-top: 20px;
    font-size: $font-sm;
    @include textHide(2);
  }
  .CardSubTitle{
    color: $black45;
    margin-top: 10px;
    font-size: $font-xs;
  }
}