/* Custom Theme */
$color-brand: #00b799;
$color-brand-light: #40c9b3;
$color-brand-dark: #00927a;

/* primary color */
$primary:  #00b799;
$red: #C62121;
$white:  rgba(255, 255, 255, 1);
$black:  rgba(0, 0, 0, 1);

$bg-grey: #D8D8D8;;
/* color */
$black85: rgba(7, 7, 7, .85); //Body
$black65: rgba(7, 7, 7, .65); //Body2
$black45: rgba(7, 7, 7, .45); //Caption  Cover
$black35: rgba(7, 7, 7, .35); //Caption  Cover
$black25: rgba(7, 7, 7, .25); //Caption  Cover
$black15: rgba(7, 7, 7, .15); //Hint
$black10: rgba(7, 7, 7, .10); //Disabled Shadow
$black05: rgba(7, 7, 7, .05); //Divider

$white85: rgba(255, 255, 255, .85); //Body
$white65: rgba(255, 255, 255, .65); //Caption
$white45: rgba(255, 255, 255, .45); //Hint
$white35: rgba(255, 255, 255, .35); //Hint
$white25: rgba(255, 255, 255, .25); //Hint
$white15: rgba(255, 255, 255, .15); //Disabled
$white10: rgba(255, 255, 255, .10); //Other
$white05: rgba(255, 255, 255, .05); //Other

/* font size */
$font-xxl: 44px;
$font-xl: 40px;
$font-lg: 36px;
$font-md: 32px;
$font-sm: 28px;
$font-xs: 24px;

/* shadow color */
$shadow-color: rgba(0, 0, 0, 0.1);