@import '../../../scss/index.scss';
.found-card{
  // @include flex(flex-start, center);
  display: flex;
  // margin: 20px 0;
  padding: 20px 30px;
  background: #fff;
  .icon{
    flex-shrink:0;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: #666;
    margin-right: 12px;
  }
  .content-wrap{
    font-size: 24px;
    .name-text{
      font-weight: bold;
    }
    .content-text{
      margin-bottom: 10px;
    }
    .content-img{
      margin-bottom: 10px;
    }
    .time-text{
      color: rgb(148, 148, 148);
      margin-bottom: 10px;
    }
    .message-wrap{
      line-height: 30px;
      background: rgb(243, 243, 243);
      padding: 0 10px;
    }
    .message-item{
      border-bottom: 1px solid rgb(233, 233, 233);
      padding: 12px 0;
      &:last-child{
        border-bottom: none;
      }
      .heart-icon{
        margin-right: 8px;
      }
    }
  }
}