.color-red{
  color: rgb(212, 7, 0);
}
.color-orange{
  color: rgb(240, 156, 0);
}

.live-item{
  width: calc(100vw / 2 - 20rpx);
  background: #fff;
  border-radius: 10px;
  // border: 1px solid #666;
  box-shadow: 0 6px 10px #ddd;
  margin:10px;
  .content-img{
    width: 100%;
  }
  .content-info{
    padding: 20px;
    .points-info{
      display: flex;
      justify-content: space-between;
      font-size: 26px;
      margin-top: 10px;
      color: rgb(201, 201, 201);
    }
  }

}