.top-warp{
  margin: 30px 15px 0;
  padding-top: 20px;
  background-color: rgba($color: #fff, $alpha: .85);
  .top-wrap-text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 56px;
    text-indent: 15px;
  }
  .top-list-wrap{
    padding: 30px 0 60px;
    overflow-x: auto;
  }
  .top-list{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 150vw;
  }
}