@import '../../scss/index.scss';
.custom-navbar-wrap{
  .custom-navbar{
    position: relative;
    display: flex;
    padding: 0 15px 24px;
    align-items: center;
  }
  .clickLeft-wrap{
    transform: translateY(12px);
  }
  .nav-bar-title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: $font-lg;
    line-height: 28px;
    max-width: 480px;
  }
}