@import '../../../../scss/index.scss';

.find-item-wrap{
  @include flex(space-between, center);
  border-bottom: 1px solid #ccc;
  margin: 0 40px;
  padding: 20px 0;
  font-size: $font-xs;
  .item-img{
    width: 100px;
    height: 100px;
  }
}