@import '../../../scss/index.scss';
.home{
  max-height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  &.hidden{
    overflow: hidden;
  }
  .homeSipwerWrap{
    margin: 0 24px;
    border-radius: 18px;
    overflow: hidden;
  }
  .HomeTabs{
    margin-top: 20px;
    background-color: $white;
    padding: 0 32px 140px;
    // padding-bottom: 140px;
    box-sizing: border-box;
    .at-tabs__header{}
    .at-tabs__item{
      font-size: $font-md;
    }
  }
  .LocationWrap{
    margin-top: 24px;
    .LoactionImg{
      width: 24px;
      height: 34px;
      vertical-align: middle;
    }
  }
}