@import '../../../scss/index.scss';
.home{
  max-height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  &.hidden{
    overflow: hidden;
  }
  .HomeTabs{
    margin-top: 20px;
    background-color: $white;
    padding: 0 32px 140px;
    // padding-bottom: 140px;
    box-sizing: border-box;
    .at-tabs__header{}
  }
}