.conetentType1-wrap{
  margin: 20px 0;
  .contentType1-img-wrap{
    text-align: center;
  }
  .conentType1-img{
    height: 1000px;
    width: 100%;
    object-fit: cover;
  }
  .contentType1-title{
    margin-top: 42px;
    font-size: 32px;
    color: #333;
  }
  .contentType1-content{
    color: #999;
    font-size: 28px;
    line-height: 48px;
    display: flex;
    justify-content: flex-start;
  }
  .contentType1-content-title{
    min-width: 80px;
  }
}